<?xml version="1.0" encoding="UTF-8"?>

<!-- Root of the Config -->
<Robot>
    <!-- Version of the current config to be printed on the console -->
    <Version version="1" />
    <!-- Comment on this particular config to be printed on the console -->
    <Comment comment="A" />
    <!-- Sets whether or not to initialize the NavX -->
    <UseNavX value="true" port=""/>
    <!-- Sets whether or not to initialize the camera to send back to the driver station -->
    <EnableSecondaryCameraServer value="false" width="640" height="480" fps="30" autoExposure=""/>
    <!-- Contains assignments to ports and robot dimensions -->
    <RobotConfig>
        <Victors>
            <left_0 />
        </Victors>
    </RobotConfig>

</Robot>